<!DOCTYPE html>
<html>
  <body>
    <p>Pirate Name: <%=@pirate.name%></p>
    <p>Pirate Weight: <%=@pirate.weight%></p>
    <p>Pirate Height: <%=@pirate.height%></p>
    <%num=1%>
    <%@ships.each do |ship|%>
    <p>Ship <%=num%> name: <%=ship.name%></p>
    <p>Ship <%=num%> type: <%=ship.type%></p>
    <p>Ship <%=num%> booty: <%=ship.booty%></p>
    <%num+=1%>
    <%end%>
  </body>
</html>
